<!-- views/error.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <div id="terminal" style="background-color:black; color:green; font-family:monospace; padding:10px;">
        <pre><%= message %></pre>
    </div>
</body>
</html>
